@charset "UTF-8";

/* Configuração geral*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(../imagens/pexels-matteo-milan-136935423-13793585.jpg);
    background-size: cover;
}

